body {
    font-size: 12px;
    font-family: Verdana, 'Helvetica Neue', arial, sans-serif;
    line-height: 1.3em;
    color: #515151;  
    background-color: #00B4FF;
}

pre {
    background-color: #E8E8E8;
    margin-left: 30px;
    padding: 5px;
    width: 60%;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

code {
    background-color: #E8E8E8;
    padding-left: 3px;
    padding-right: 3px;
    display: block;
}

table {
    border: none;
}

td {
    padding-left: 20px;
}

a,
a:visited,
a:active {
    color: #515151;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #67c4de;
}

h1 {
    font-size: 1.8em;
    margin: 30px 0 25px 0;
    font-weight: bold;
}
h2 {
    font-size: 1.6em;
    margin: 30px 0 15px 0;
    font-weight: bold;
}
h3 {
    font-size: 1.3em;
    margin: 15px 0 15px 0;
    font-weight: bold;
}
h4 {
    font-size: 1em;
    margin: 5px 0 10px 0;
}
h5 {
    font-size: 1em;
    margin: 5px 0 10px 0;
}

hr {
    margin-left: 0;
    padding-left: 0;
	width: 100%;
	min-width: 840px;
}

p {
    padding: 10px 0;
}

ul {
    padding-left: 30px;
}
ul>li {
    display: list-item;
    list-style-type: disc;
}

ol {
    padding-left: 30px;
}
ol>li {
    display: list-item;
    list-style-type: decimal;
}

body>header {
    background-color: #323232;
    padding: 10px 30px 10px 30px;
    color: white;
}

body>footer {
    text-align: center;
    background-color: #FFF;
    padding: 10px 20% 20px 100px;
    margin-bottom: 40px;

    box-shadow: 0 6px 5px;
    -webkit-box-shadow: 0 6px 5px;
    -moz-box-shadow: 0 6px 5px;
}
body>header>.wrapper {
    margin-left: 100px;
    margin-right: 20%;
}

body>main {
    background-color: #FFF;
    min-width: 600px;
    display: block;
    padding: 30px 150px;
    padding-right: 20%;
}

body>header h1>a, body>header h1>a:visited, body>header h1>a:link {
    color: #EEE;
    text-decoration: none;
}

body>header h4 {
    margin-top: -10px;
}

article hr {
	width: auto;
	min-width: 0;
}

header nav li {
    list-style: none;
	float: left;
	margin: 0 5px;
}

header nav a, header nav a:link, header nav a:visited {
    color: #EEE;
}
header nav a:hover {
    color: #67c4de;
}

article {
	margin: 10px;
}

article .entry {
	margin-left: 15px;
	padding: 10px;
}

article .entry img.logo {
    float: right;
    margin: 0 0 15px 15px;
    max-width: 200px;
}

article header span {
	margin-top: -10px;
	margin-bottom: -3px;
	margin-left: 5px;
}

article header h2 {
    margin-bottom: 3px;
}

section address {
    margin-left: 15px;
}

.comments {
	margin-left: 25px;
}

.icns{
    vertical-align: middle;
    line-height:  15px;
}
img.icns {
    height: 15px;
    padding-left: 30px;
}

.clear {
    clear: both;
}

.nowrap {
    white-space: nowrap;
}

#archive {
    line-height: 1.5em;
}