<nav class="navbar navbar-inverse navbar-static-top visible-md visible-lg" role="navigation">
	<div class="container">
		<ul class="nav navbar-nav">
			<li><a href="mailto:paul@elms.pro"><i class="fa fa-envelope"></i> paul@elms.pro</a></li>
			<li><a href="skype:vyazovoi?chat"><i class="fa fa-skype"></i> vyazovoi</a></li>
			<li><a href="imessage://paul@elms.pro"><i class="fa fa-apple"></i> paul@elms.pro</a></li>
			<li><a href="http://twitter.com/vyazovoi"><i class="fa fa-twitter"></i> vyazovoi</a></li>
			<li><a href="https://alpha.app.net/paulelms"><i class="fa fa-adn"></i> paulelms</a></li>
			<li><a href="http://github.com/vyazovoi"><i class="fa fa-github"></i> vyazovoi</a></li>
			<li><a href="http://vk.com/vyazovoi"><i class="fa fa-vk"></i> vyazovoi</a></li>
			<li class="navbar-text"><i class="fa fa-phone"></i> +7 (922) 018-12-90</li>
	    </ul>
    </div>
</nav>

<script src="//cdn.jsdelivr.net/jquery/2.0.3/jquery-2.0.3.min.js"></script>
<script src="//cdn.jsdelivr.net/bootstrap/3.0.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/fancybox/2.1.5/jquery.fancybox.pack.js"></script>
<script src="/assets/site.js?v2"></script>