<img src="/images/mail25.png" class="icns" alt="mail icon" title="Mail" /> <span class="icns">paul@elms.pro</span>
<img src="/images/skype25.png" class="icns" alt="skype icon" title="Skype" /> <span class="icns">vyazovoi</span>
<img src="/images/imessage25.png" class="icns" alt="imessage icon" title="iMessage" /> <span class="icns">paul@elms.pro</span>
<img src="/images/twitter25.png" class="icns" alt="twitter icon" title="Twitter" /> <a class="icns" href="http://twitter.com/vyazovoi">vyazovoi</a>
    <img src="/images/github25.png" class="icns" alt="github icon" title="Github" /> <a class="icns" href="http://github.com/vyazovoi">vyazovoi</a>