<head>
    <meta charset="utf-8"/>
    <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
    
    <link rel="stylesheet" href="/assets/reset.css?v1" />
    <link rel="stylesheet" href="/assets/style.css?v4" />
    
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/2.0.3/jquery-2.0.3.min.js"></script>
    
    <link type="text/css" rel="stylesheet" href="//cdn.jsdelivr.net/fancybox/2.1.5/jquery.fancybox.css" />
    <script type="text/javascript" src="//cdn.jsdelivr.net/fancybox/2.1.5/jquery.fancybox.pack.js"></script>
    
    <script src="/assets/site.js?v2"></script>
    
    <meta name="description" content="{{site.description}}"/>
    <meta name="author" content="{{site.author}}"/>
    <link rel="author" href="humans.txt"/>
    <link rel="alternate" type="application/rss+xml" title="Atom Feed" href="http://feeds.feedburner.com/vyazovoi" />
</head>