<a target="_blank" title="Поделиться с друзьями в Facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}">
	<i class="fa fa-facebook-square" style="color: #3B5A96;"></i>
</a>

<a target="_blank" title="Поделится с друзьями в Twitter" href="https://twitter.com/share?url={{ site.url }}{{ page.url }}&amp;text={{ page.title }}&amp;via=vyazovoi">
	<i class="fa fa-twitter-square" style="color: #1CA8E5;"></i>
</a>

<a target="_blank" title="Поделиться с друзьями в Google Plus" href="https://plusone.google.com/_/+1/confirm?hl=en&amp;url={{ site.url }}{{ page.url}} ">
	<i class="fa fa-google-plus-square" style="color: #DB4C3F;"></i>
</a>