        <nav>

            <h3>First Heading</h3>

            <ul>
                <li><i class="icon-home"></i>   <a href="{{site.baseurl}}/">Home</a></li>
                <li><i class="icon-mail"></i>   <a href="{{site.baseurl}}/contact">Contact</a></li>
                <li><i class="icon-th"></i>     <a href="{{site.baseurl}}/archive">Archive</a></li>
                <li><i class="icon-rss"></i>    <a href="{{site.baseurl}}/feed.xml">RSS Feed</a></li>
            </ul>

            <h3>Second Heading</h3>

            <ul>
                <li><i class="icon-link"></i>   <a href="#">Link 1</a></li>
                <li><i class="icon-link"></i>   <a href="#">Link 2</a></li>
                <li><i class="icon-link"></i>   <a href="#">Link 3</a></li>
            </ul>
        </nav>