/*.icns{
    vertical-align: middle;
    line-height:  15px;
}
img.icns {
    height: 15px;
    padding-left: 30px;
}

article a.screenshot>img {
    width: 400px;
}*/

.front-photo {
	width: 200px;
	margin-left: 20px;
	margin-bottom: 20px;
}

html {
	background-color: #DEDEDE;
}

body {
	margin-bottom: 30px;
	box-shadow: 0 4px 5px;
	-webkit-box-shadow: 0 4px 5px;
	-moz-box-shadow: 0 4px 5px;
}

.nav li>a>i.fa.pull-right {
	line-height: 1.428571429;
	vertical-align: middle;
	margin-right: 15px;
}
.dropdown li>a>i.fa.pull-right {
	margin-right: 0;
}

h2.post-title {
	font-size: 1.4em;
}
h1.post-title {
	font-size: 1.4em;
}

article a.screenshot>img {
	max-width: 250px;
}

.entry img.logo {
	float: right;
	max-width: 200px;
	margin-left: 20px;
	margin-bottom: 20px;
}

@media(max-width:767px) {
	.entry img.logo {
		float: right;
		max-width: 100px;
		margin-left: 10px;
		margin-bottom: 10px;
	}
	article a.screenshot>img {
		max-width: 170px;
	}
}

div.entry {
	min-height: 210px;
}

.share-buttons a {
	margin-left: 15px;
}

.st-snippet em {
	color: #d44950;
}