<!DOCTYPE html>
<html>
{% include head.html %}

    <body>
        <header>
            <hgroup>
            <h1><a href="{{site.url}}/">{{ site.name }}</a></h1>
                <h4>{{ site.description }}</h4>
            </hgroup>
			{% include nav.html %}
            <hr />
        </header>
		
		<div style="position: absolute; right: 0; top: 0;"><img style="width: 150px;" src="/images/under_construction.gif"></div>

        <main>

            {{ content }}

        </main>

        <footer>
            <hr />
            <p>&copy; <time>2013</time> {{ site.author }}</p>
        </footer>
		
		{% include ga.html %}

    </body>

</html>