<!DOCTYPE html>
<html>
{% include head.html %}

    <body>
        <header>
            <div class="wrapper">
                <hgroup>
                <h1><a href="{{site.url}}/">{{ site.name }}</a></h1>
                    <h4>{{ site.description }}</h4>
                </hgroup>
    			{% include nav.html %}
    			<div class="clear"></div>
			</div>
        </header>

        <main>

            {{ content }}

        </main>
        
        <footer>
            {% include footer.html %}
        </footer>
		
		{% include ga.html %}

    </body>

</html>