<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="{{site.author}}" />
    <title>Павел Вязовой</title>
    <link rel="author" href="/humans.txt" />
    <link rel="me" href="https://fosstodon.org/@paulelms" />
    <link rel="alternate" type="application/rss+xml" title="Blog Feed" href="http://feeds.feedburner.com/vyazovoi" />
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="canonical" href="https://paul.elms.pro">
</head>

<body>

    {{ content }}

    {% include email.html %}
    {% include ga.html %}

</body>

</html>