---
layout: default
---

<article>
        <header>
            <h2>{{ page.title }}</h2>
            <span><time datetime="{{page.date|date:"%F"}}">{{page.date|date:"%b %d, %Y"}}</time></span>, <span class="author"> {% if page.author %}{{page.author}}{% else %}{{site.author}}{% endif %}</span>, Категории: <span class="category"> {% for category in page.categories %}{{category}} {% endfor %}</span>
        </header>

        <div class="entry">
            {% if page.icon %}<img src="/images/articles/{{ page.icon }}" class="logo" title="{{ page.icon }}" alt="logo" />{% endif %}
            {{ content }}
        </div>
		
		<div class="comments">{% include disqus.html %}</div>

        <footer><!-- additional info --></footer>

</article>